.headerWrapper {
    backdrop-filter: blur(3px);
}

.headerUL {
    list-style: none;
    display: grid;
    grid-template-columns: 8rem 9rem 9rem;
    height: 4rem;
    gap: 30px;
    place-items: center;
}

.headerLink {
    font-size: 120%;
    text-decoration: none;
    color: white;
}

