.mainWrapper {
    display: grid;
    grid-template-rows: 5rem 150px 2rem;
    gap: 1rem;
    place-items: center;
    padding: 1rem 0 0 0;
}

.mainWrapper > div > h2 {
    padding-bottom: 1rem;
    font-family: Poppins;
    font-size: 2rem;
}

.mainWrapper > div > p {
    text-align: center;
}

span.italic {
    font-style: italic;
}

.questTextWrap {
    max-width: 500px;
}